---
import Layout from '@layouts/Layout.astro'
import LanguagePicker from '@components/LanguagePicker.astro'
import Indicator from '@components/Indicator.astro'
import Social from '@components/Social.astro'

import Icon from '@images/icon-350x350.png'
import Arrow from '@images/arrow-37x84.png'
import Curly from '@images/curly-350x350.png'
import Burger from '@images/burger-350x350.png'
import Fries from '@images/fries-350x350.png'
import Wrap from '@images/wrap-350x350.png'
import Salad from '@images/salad-350x350.png'
import Farm from '@images/farm-400x400.png'
import Worker from '@images/worker-400x400.png'
import Map from '@images/map-440x292.png'
import Instagram from '@images/instagram-64x64.png'
import Youtube from '@images/youtube-64x64.png'
import Twitter from '@images/twitter-64x64.png'
import Facebook from '@images/facebook-64x64.png'
import Github from '@images/github-64x64.png'
import Linkedin from '@images/linkedin-64x64.png'

import { Image } from 'astro:assets'
export { getLanguagePaths as getStaticPaths } from '@utils'


const
    { text } = Astro.props,
    { locale } = Astro.params,
    meta = text.path['/']
---


<Layout 
    lang={locale} 
    title={meta.title} 
    description={meta.description}
>
    <page id=one class=current>
        <Image
            src={Icon}
            id=Burger
            format=png 
            alt=Burger 
        />
        <text>
            <h6 set:text={text.welcome} />
            <h1 set:text={text.hello} />
        </text>
        <arrow-hint 
            set:text={text.lang_change_hint} 
        />
        <Image
            src={Arrow}
            id=Arrow
            alt=Arrow 
        />
    </page>

    <page id=two>
        <h1
            class=text
            set:text={text.products.title}
        />
        <h6 
            class=text 
            set:html={text.products.text} 
        />
        <carousel>
            <carousel-item>
                <Image
                    src={Curly}
                    alt=Curly
                />
                <p
                    set:html={text.products.curly}
                />
            </carousel-item>
            <carousel-item>
                <Image
                    src={Burger}
                    alt=Burger
                />
                <p
                    set:html={text.products.burger}
                />
            </carousel-item>
            <carousel-item>
                <Image
                    src={Fries}
                    alt=Fries
                />
                <p
                    set:html={text.products.fries}
                />
            </carousel-item>
            <carousel-item>
                <Image
                    src={Wrap}
                    alt=Wrap
                />
                <p
                    set:html={text.products.wrap}
                />
            </carousel-item>
            <carousel-item>
                <Image
                    src={Salad}
                    alt=Salad
                />
                <p
                    set:html={text.products.salad}
                />
            </carousel-item>
        </carousel>
    </page>

    <page id=three>
        <h1 
            class=text 
            set:text={text.environment.title} 
        />
        <columns>
            <column>
                <Image
                    src={Farm}
                    alt=Farm
                />
                <p
                    set:html={text.environment.farm}
                />
            </column>
            <column>
                <Image
                    src={Worker}
                    alt=Worker
                />
                <p
                    set:html={text.environment.local}
                />
            </column>
        </columns>
    </page>

    <page id=four>
        <h1 
            class=text 
            set:text={text.location.title} 
        />
        <columns>
            <column>
                <Image
                    src={Map}
                    format=png
                    alt=Map
                />
                <p>{text.location.description} <a
                        href=https://www.collinsdictionary.com/dictionary/english/nowhere
                        target=_blank
                        set:text={text.location.find}
                        aria-label='Find your nearest store location'
                    />
                </p>
            </column>
            <column>
                <p set:html={text.location.text} />
            </column>
        </columns>
    </page>

    <page id=five>
        <h1 
            class=text 
            set:text={text.follow_us} 
        />
        <socials>
            <Social
                color=#f5852994
                href=https://www.instagram.com/real.burgers.inc/
                delay=.8s
                media=Instagram
                imgSrc={Instagram}
            />
            <Social
                color=#ff102780
                href=https://youtu.be/6lXTn7yUt4I
                delay=1s
                media=Youtube
                imgSrc={Youtube}
            />
            <Social
                color=#08a2e985
                href=https://twitter.com/gunsnrosesgirl3/status/1721573741723824534
                delay=1.2s
                media=Twitter
                imgSrc={Twitter}
            />
            <Social
                color=#1876f279
                href=https://www.facebook.com/
                delay=1.4s
                media=Facebook
                imgSrc={Facebook}
            />
            <Social
                color=#0d111785
                href=https://github.com/katzensindniedlich/Burgers/
                delay=1.6s
                media=Github
                imgSrc={Github}
            />
            <Social
                color=#0076b580
                href=https://www.linkedin.com/
                delay=1.8s
                media=Linkedin
                imgSrc={Linkedin}
            />
        </socials>
    </page>

    <Indicator 
        description={text.scroll} 
    />
    <LanguagePicker 
        current={locale} 
    />
</Layout>


<style 
    is:global
    lang=scss 
>
    @use 'sass:math';

    $carousel-duration: 15s;
    $carousel-items: 5;
    $carousel-timing: 5;
    $carousel-per-delay: math.div($carousel-duration, $carousel-items);
    $carousel-per-step: math.div(100, $carousel-items);

    @keyframes carousel {
        from {
            opacity: 0;
            transform: translateX(250%) scale(.7)
        }

        #{$carousel-timing}%,
        #{$carousel-per-step}% {
            opacity: .8;
            transform: translateX(150%) scale(.9)
        }

        #{$carousel-per-step + $carousel-timing}%,
        #{$carousel-per-step * 2}% {
            opacity: 1;
            transform: translateX(0) scale(1)
        }

        #{($carousel-per-step * 2) + $carousel-timing}%,
        #{$carousel-per-step * 3}% {
            opacity: .8;
            transform: translateX(-150%) scale(.9)
        }

        #{($carousel-per-step * 3) + $carousel-timing}% {
            opacity: 0;
            transform: translateX(-250%) scale(.9)
        }

        to {
            opacity: 0;
            transform: translateX(-250%) scale(.7)
        }
    }

    carousel {
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        
        animation: hide .5s .3s both;

        page.current & {
            animation: show 1.5s .7s both
        }
    }

    carousel-item {
        opacity: 0;
        position: absolute;
        top: 142vh;
        width: -moz-fit-content;
        width: fit-content;

        display: flex;
        flex-direction: column;
        padding: 30px;

        box-shadow: 0 0 20px var(--box-shadow);
        border-radius: 15px;
        color: var(--text-color);

        animation: carousel $carousel-duration cubic-bezier(.37, 0, .63, 1) infinite;

        img {
            margin-bottom: 15px;
            box-shadow: inherit
        }

        @for $index from 1 through ($carousel-items - 1) {
            &:nth-child(#{$index}) {
                animation-delay: #{$carousel-per-delay * ($index - 2)}
            }
        }

        &:last-child {
            animation-delay: -#{$carousel-per-delay * 2}
        }
    }

    page#one {
        gap: calc(5vh + 3vw)
    }

    #Burger {
        max-width: 75vw;
        max-height: 50vh;

        animation: wiggle 1.5s infinite;
        filter: drop-shadow(5px 5px 20px black)
    }

    #Arrow {
        position: absolute;
        right: 90px;
        bottom: 75px
    }

    @keyframes show-rotated {
        from {
            opacity: 0;
            transform: rotate(30deg)
        }
        to {
            opacity: 1;
            transform: rotate(30deg)
        }
    }

    arrow-hint {
        width: 150px;
        position: absolute;
        right: 30px;
        bottom: 165px;

        color: var(--hint-color);
        animation: show-rotated 1s .3s both;
        text-align: center;
        word-wrap: break-word
    }

    page#two {
        display: block;

        h1 {
            padding: 7vh 0 2vh 0
        }
    }

    page#three {
        align-content: space-evenly;
        justify-content: normal;

        column {
            align-items: normal
        }
    }

    columns {
        width: 100%;
        display: flex;

        flex-direction: row;
        justify-content: center;
        gap: 9vw;
        margin-bottom: 60px;
    }

    column {
        width: 25%;
        display: flex;
        gap: 25px;
        align-items: center;
        flex-direction: column;
        text-align: left;

        animation: hide .5s .3s both;

        page.current & {
            animation: fade-left 1s 1s both
        }

        img {
            box-shadow: 0 0 20px var(--box-shadow);

            page.current & {
                animation: show 1.5s .7s both
            }
        }
    }

    page#four, page#five {
        align-content: space-evenly
    }

    socials {
        width: 65vw;

        display: flex;
        justify-content: space-evenly;
        row-gap: 30px;
        flex-wrap: wrap
    }

    @media (max-width: 768px) {
        #Arrow, 
        arrow-hint, 
        carousel-item:not(:nth-child(2)) {
            display: none
        }

        column {
            width: 100%!important;
            align-items: center;

            &:nth-child(2) {
                display: none
            }
        }

        columns {
            margin-bottom: 0;
        }

        page#one p {
            margin-bottom: 1.5vh
        }

        carousel-item {
            top: 138vh;
            padding: 15px;

            &:nth-child(2) {
                opacity: 1;
                animation: unset
            }
        }
    }
</style>


<script defer>
((w,d)=>{i=d.getElementsByTagName('indicator')[0];l='five';pl={0:'one',1:'two',2:'three',3:'four',4:l};po=new IntersectionObserver(en=>{en.forEach(e=>{if(e.isIntersecting)e.target.classList.add('current');else e.target.classList.remove('current')})},{rootMargin:'0%',threshold:'.8'});ts=te=0;sp=s=>{n=pl[Math.round(w.scrollY/w.innerHeight)+s];if(n!==undefined){i.style.animation='hide .5s both';d.getElementById(n).scrollIntoView();if(n!==l)i.style.animation='show 1s 2s both'}};(f=>{f('touchstart',e=>ts=e.changedTouches[0].screenY);f('touchend',e=>{te=e.changedTouches[0].screenY;if(te>ts)sp(-1);else if(te<ts)sp(1)});f('touchmove',e=>e.preventDefault(),{passive:false});f('keydown',e=>{if(e.key=='ArrowDown'){sp(1);e.preventDefault()}else if(e.key=='ArrowUp'){sp(-1);e.preventDefault()}});f('wheel',e=>{e.preventDefault();(e.deltaY>0)?sp(1):sp(-1)},{passive:false})})(w.addEventListener);d.querySelectorAll('page').forEach(e=>po.observe(e))})(window,document)
</script>
